* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
.section1 {
  display: flex;
  position: relative;
  min-height: 20vh;
  font-size: 1.665rem;
  background-color: #ffffff;
  width: 100%;
}
.logo {
  position: absolute;
  height: 10vh;
  top: 10px;
  left: 100px;
}
.logo img {
  height: 16vh;
  width: 8vw;
}
.about {
  position: absolute;
  top: 45px;
  left: 560px;
}
.about a {
  color: #000000;
  font-weight: 300;
  text-decoration: none;
}
.about a:hover {
  color: rgb(255, 170, 0);
}
.breed {
  position: absolute;
  top: 45px;
  left: 630px;
}
.breed a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.breed a:hover {
  color: rgb(255, 170, 0);
}
.gallery {
  position: absolute;
  top: 45px;
  left: 700px;
}
.gallery a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.gallery a:hover {
  color: rgb(255, 170, 0);
}
.adoption {
  position: absolute;
  top: 45px;
  left: 800px;
}
.adoption a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.adoption a:hover {
  color: rgb(255, 170, 0);
}
.contact {
  position: absolute;
  top: 44px;
  left: 950px;
}
.contact a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.contact a:hover {
  color: rgb(255, 170, 0);
}
.signin {
  position: absolute;
  top: 42px;
  left: 1120px;
}
.signin button {
  width: 5.5vw;
  border: none;
  height: 6vh;
  font-size: 1.5rem;
  color: white;
  background-color: red;
  border-radius: 10px;
}
.signin button:hover {
  text-decoration: none;
  background-color: rgb(12, 87, 5);
  color: white;
}
.signup {
  position: absolute;
  top: 42px;
  left: 1225px;
}
.signup button {
  width: 5.5vw;
  height: 6vh;
  font-size: 1.5rem;
  color: rgb(12, 87, 5);
  background-color: #ffffff;
  border-radius: 10px;
}
.signup button:hover {
  text-decoration: none;
  border: none;
  background-color: rgb(12, 87, 5);
  color: white;
}
.hero2 {
  position: relative;
  width: 40vw;
  top: 0px;
  left: 835px;
}
.hero {
  position: relative;
  width: 40vw;
  top: 37px;
}
.hero:hover {
  width: 37vw;
  transition: width 0.8s, color 0.8s;
}
.section2 {
  position: relative;
  min-height: 98vh;
  background-image: url(./Image/hero2.jpeg);
  background-color: rgb(12, 87, 5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  width: 100%;
}
.pesin {
  position: absolute;
  color: white;
  font-size: 6.1rem;
  padding: 30px;
  width: 50vw;
  line-height: 80px;
  font-weight: 800;
  top: 100px;
  left: 70px;
}
.chop,
.bring,
.take,
.palm,
.sendus {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  width: 22vw;
  cursor: pointer;
  background-color: rgb(45, 121, 5);
  color: rgb(255, 255, 255);
  transition: ease-in-out;
  transition: background-color 0.8s, color 0.8s;
  transition: font-size 0.8s, color 0.8s;
  transition: width 0.8s, color 0.8s;
  border-radius: 15px;
  border: none;
  height: 4vw;
}
.chop {
  top: 480px;
  left: 100px;
}
.chop:hover {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  width: 20vw;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}
.section3 {
  position: relative;
  min-height: 283vh;
  background-image: url(./Image/hero3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
}
.head1 {
  position: absolute;
  top: 80px;
  left: 450px;
  font-size: 4.3rem;
  color: #ffffff;
  font-weight: 700;
}
.content1 {
  position: absolute;
  top: 180px;
  font-weight: 500;
  text-align: justify;
  color: #ffffff;
  left: 426px;
  font-size: 2rem;
  line-height: 1.6;
  overflow: hidden;
}
.img4 {
  position: absolute;
  top: 290px;
  left: 905px;
  height: 47vh;
}
.img4:hover {
  height: 45vh;
  transition: height 0.8s, color 0.8s;
}
h2.img4,
h2.img5,
h2.img6,
h2.img7,
h2.img8,
h2.img9,
h2.img10,
h2.img11,
h2.img12 {
  position: absolute;
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}
h2.img4 {
  top: 600px;
  left: 990px;
}
.img5 {
  position: absolute;
  top: 290px;
  left: 580px;
  height: 47vh;
}
.img5:hover {
  height: 45vh;
  transition: height 0.8s, color 0.8s;
}
h2.img5 {
  top: 600px;
  left: 680px;
}
.img6 {
  position: absolute;
  top: 290px;
  left: 85px;
  height: 48vh;
}
.img6:hover {
  height: 45vh;
  transition: height 0.8s, color 0.8s;
}
h2.img6 {
  top: 600px;
  left: 220px;
}
.img7 {
  position: absolute;
  top: 700px;
  left: 60px;
  height: 44vh;
}
.img7:hover {
  height: 42vh;
  transition: height 0.8s, color 0.8s;
}
h2.img7 {
  top: 980px;
  left: 150px;
}
.img8 {
  position: absolute;
  top: 700px;
  left: 480px;
  height: 46vh;
}
.img8:hover {
  height: 44vh;
  transition: height 0.8s, color 0.8s;
}
h2.img8 {
  top: 980px;
  left: 580px;
}
.img9 {
  position: absolute;
  top: 700px;
  left: 930px;
  height: 44vh;
}
.img9:hover {
  height: 43vh;
  transition: height 0.8s, color 0.8s;
}
h2.img9 {
  top: 980px;
  left: 990px;
}
.img10 {
  position: absolute;
  top: 1096px;
  left: 930px;
  height: 44vh;
}
.img10:hover {
  height: 42vh;
  transition: height 0.8s, color 0.8s;
}
h2.img10 {
  top: 1380px;
  left: 1050px;
}
.img11 {
  position: absolute;
  top: 1060px;
  left: 430px;
  height: 53.5vh;
}
.img11:hover {
  height: 51vh;
  transition: height 0.8s, color 0.8s;
}
h2.img11 {
  top: 1380px;
  left: 620px;
}
.img12 {
  position: absolute;
  top: 1060px;
  left: 99px;
  height: 53.5vh;
}
.img12:hover {
  height: 51vh;
  transition: height 0.8s, color 0.8s;
}
h2.img12 {
  top: 1380px;
  left: 190px;
}
.bring {
  top: 1470px;
  left: 550px;
}
.bring:hover {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  width: 20vw;
  background-color: rgb(40, 92, 12);
  color: rgb(255, 217, 0);
}
.section4 {
  width: 100%;
  position: relative;
  min-height: 160vh;
  background-color: #00000000;
}
.head2 {
  position: absolute;
  top: 80px;
  left: 850px;
  width: 24vw;
  font-size: 4.3rem;
  color: #417d05;
  font-weight: 700;
}
.content2 {
  position: absolute;
  top: 220px;
  text-align: justify;
  left: 850px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}
.imgs5 {
  position: absolute;
  width: 55vw;
}

.imgs6 {
  position: absolute;
  width: 44vw;
  top: 480px;
  left: 780px;
}
.palm {
  top: 320px;
  left: 850px;
}
.palm:hover {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  width: 20vw;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}

.head2b {
  position: absolute;
  top: 560px;
  left: 120px;
  font-size: 4.3rem;
  color: #e57206;
  font-weight: 700;
}
.content2b {
  position: absolute;
  top: 660px;
  left: 120px;
  width: 30vw;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  overflow: hidden;
}
.take {
  top: 800px;
  left: 120px;
}
.take:hover {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  width: 20vw;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}
.section5 {
  position: relative;
  min-height: 80vh;
  background-image: url(./Image/hero.jpg);
  background-color: #052100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  width: 100%;
}

.content3 {
  position: absolute;
  top: 250px;
  color: white;
  left: 430px;
  width: 35vw;
  text-align: center;
  font-weight: 100;
  font-size: 3.7rem;
  line-height: 1.6;
  overflow: hidden;
}
.test {
  position: absolute;
  width: 10vw;
  left: 600px;
  top: 60px;
}

.section7 {
  position: relative;
  min-height: 125vh;
  background-color: #f4f4f4;
}
.head5 {
  position: absolute;
  top: 90px;
  left: 390px;
  font-size: 4.4rem;
  color: #ff7b00;
  font-weight: 700;
}
.form {
  position: absolute;
  top: 190px;
  left: 310px;
}
#fname {
  width: 25vw;
  height: 8vh;
  font-size: 1.6rem;
  margin-top: 20px;
  padding-left: 10px;
  outline: none;
}
#lname {
  width: 25vw;
  height: 8vh;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 1.6rem;
  outline: none;
}
#email {
  width: 50.5vw;
  height: 8vh;
  margin-top: 20px;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 1.6rem;
  outline: none;
}
#num {
  width: 50.5vw;
  height: 8vh;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 1.6rem;
  outline: none;
}
#message {
  width: 50.5vw;
  height: 30vh;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 1.6rem;
  outline: none;
}
.sendus {
  top: 450px;
  left: 200px;
}
.sendus:hover {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  width: 17vw;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}
.footer {
  position: relative;
  height: 60vh;
  background-color: #000000;
  font-size: 2.3rem;
  font-weight: 700;
}
.top {
  position: absolute;
  top: 150px;
  width: 260vw;
  left: 120px;
}
.top2 {
  position: absolute;
  top: 150px;
  font-weight: 300;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  width: 260vw;
  left: 520px;
}
.top2:hover {
  color: rgb(255, 225, 0);
  font-size: 2.1rem;
  transition: font-size 0.8s, color 0.8s;
}

.logo2 img {
  position: absolute;
  left: 100px;
  top: 100px;
  height: 30vh;
  width: 35vh;
}
.copy {
  position: absolute;
  top: 120px;
  color: #ffffff;
  left: 820px;
  font-size: 1.4rem;
  font-weight: 400;
}
