* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
.section1 {
  position: relative;
  min-height: 17vh;
  font-size: 1.665rem;
  background-color: #ffffff;
}
.logo {
  position: absolute;
  height: 10vh;
  top: 10px;
  left: 50px;
}
.logo img {
  height: 13vh;
  width: 10vw;
}
.about {
  position: absolute;
  top: 45px;
  left: 280px;
}
.about a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.about a:hover {
  color: rgb(255, 170, 0);
}
.breed {
  position: absolute;
  top: 45px;
  left: 355px;
}
.breed a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.breed a:hover {
  color: rgb(255, 170, 0);
}
.gallery {
  position: absolute;
  top: 45px;
  left: 430px;
}
.gallery a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.gallery a:hover {
  color: rgb(255, 170, 0);
}
.adoption {
  position: absolute;
  top: 45px;
  left: 520px;
}
.adoption a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.adoption a:hover {
  color: rgb(255, 170, 0);
}
.contact {
  position: absolute;
  top: 45px;
  left: 640px;
}
.contact a {
  color: rgb(12, 87, 5);
  text-decoration: none;
}
.contact a:hover {
  color: rgb(255, 170, 0);
}
.signin {
  position: absolute;
  top: 42px;
  left: 750px;
}
.signin button {
  width: 10vw;
  border: none;
  height: 6vh;
  font-size: 1.4rem;
  color: white;
  background-color: red;
  border-radius: 10px;
}
.signin button:hover {
  text-decoration: none;
  background-color: rgb(12, 87, 5);
  color: white;
}
.signup {
  position: absolute;
  top: 42px;
  left: 855px;
}
.signup button {
  width: 10vw;
  height: 6vh;
  font-size: 1.4rem;
  color: rgb(12, 87, 5);
  background-color: #ffffff;
  border-radius: 10px;
}
.signup button:hover {
  text-decoration: none;
  border: none;
  background-color: rgb(12, 87, 5);
  color: white;
}
.hero2 {
  position: relative;
  visibility: hidden;
  width: 97vw;
  top: 0px;
  left: 0px;
}
.hero {
  position: relative;
  visibility: hidden;
  width: 40vw;
  top: 37px;
}
.hero:hover {
  width: 37vw;
  transition: width 0.8s, color 0.8s;
}
.section2 {
  position: relative;
  min-height: 50vh;
  background-image: url(./Image/hero4.jpeg);
  background-color: rgb(12, 87, 5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}
.pesin {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 5rem;
  padding: 30px;
  width: 60vw;
  background-color: rgba(73, 73, 73, 0.203);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  line-height: 50px;
  font-weight: 600;
  top: 400px;
  left: 170px;
}
.chop,
.bring,
.take,
.palm,
.sendus {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  width: 30vw;
  cursor: pointer;
  background-color: rgb(45, 121, 5);
  color: rgb(255, 255, 255);
  transition: ease-in-out;
  transition: background-color 0.8s, color 0.8s;
  transition: font-size 0.8s, color 0.8s;
  transition: width 0.8s, color 0.8s;
  border-radius: 15px;
  border: none;
  height: 6vw;
}
.chop {
  top: 630px;
  left: 320px;
}
.chop:hover {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  width: 40vw;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}
.section3 {
  position: relative;
  min-height: 360vh;
  background-image: url(./Image/hero3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}
.head1 {
  position: absolute;
  top: 70px;
  width: 50vw;
  text-align: center;
  left: 215px;
  font-size: 4rem;
  color: #ffffff;
  font-weight: 700;
}
.content1 {
  position: absolute;
  top: 150px;
  font-weight: 500;
  text-align: justify;
  color: #ffffff;
  left: 205px;
  width: 75vw;
  font-size: 2rem;
  line-height: 1.6;
}
.img4 {
  position: absolute;
  top: 250px;
  left: 76px;
  height: 45vh;
}
.img4:hover {
  height: 43vh;
  transition: height 0.8s, color 0.8s;
}
h2.img4,
h2.img5,
h2.img6,
h2.img7,
h2.img8,
h2.img9,
h2.img10,
h2.img11,
h2.img12 {
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: 600;
}
h2.img4 {
  top: 520px;
  left: 150px;
}
.img5 {
  position: absolute;
  top: 250px;
  left: 540px;
  height: 45vh;
}
.img5:hover {
  height: 43vh;
  transition: height 0.8s, color 0.8s;
}
h2.img5 {
  top: 520px;
  left: 610px;
}
.img6 {
  position: absolute;
  top: 590px;
  left: 76px;
  height: 48vh;
}
.img6:hover {
  height: 45vh;
  transition: height 0.8s, color 0.8s;
}
h2.img6 {
  top: 860px;
  left: 210px;
}
.img7 {
  position: absolute;
  top: 590px;
  left: 470px;
  height: 44vh;
}
.img7:hover {
  height: 42vh;
  transition: height 0.8s, color 0.8s;
}
h2.img7 {
  top: 860px;
  left: 560px;
}
.img8 {
  position: absolute;
  top: 880px;
  left: 70px;
  height: 43vh;
}
.img8:hover {
  height: 42vh;
  transition: height 0.8s, color 0.8s;
}
h2.img8 {
  top: 1140px;
  left: 160px;
}
.img9 {
  position: absolute;
  top: 910px;
  left: 520px;
  height: 40vh;
}
.img9:hover {
  height: 38vh;
  transition: height 0.8s, color 0.8s;
}
h2.img9 {
  top: 1140px;
  left: 580px;
}
.img10 {
  position: absolute;
  top: 1220px;
  left: 60px;
  height: 44vh;
}
.img10:hover {
  height: 42vh;
  transition: height 0.8s, color 0.8s;
}
h2.img10 {
  top: 1480px;
  left: 180px;
}
.img11 {
  position: absolute;
  top: 1190px;
  left: 460px;
  height: 50vh;
}
.img11:hover {
  height: 51vh;
  transition: height 0.8s, color 0.8s;
}
h2.img11 {
  top: 1480px;
  left: 650px;
}
.img12 {
  position: absolute;
  top: 1560px;
  left: 319px;
  height: 53.5vh;
}
.img12:hover {
  height: 51vh;
  transition: height 0.8s, color 0.8s;
}
h2.img12 {
  top: 1890px;
  left: 430px;
}
.bring {
  top: 1990px;
  left: 340px;
}
.bring:hover {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  width: 28vw;
  background-color: rgb(40, 92, 12);
  color: rgb(255, 217, 0);
}
.section4 {
  position: relative;
  min-height: 127vh;
  background-color: #ffffff;
}
.head2 {
  position: absolute;
  top: 50px;
  left: 600px;
  line-height: 50px;
  width: 34vw;
  font-size: 4.3rem;
  color: #417d05;
  font-weight: 700;
}
.content2 {
  position: absolute;
  top: 170px;
  text-align: justify;
  left: 600px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}
.imgs5 {
  position: absolute;
  width: 53vw;
}

.imgs6 {
  position: absolute;
  width: 50vw;
  top: 345px;
  left: 490px;
}
.palm {
  top: 220px;
  left: 600px;
}
.palm:hover {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  width: 25vw;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}

.head2b {
  position: absolute;
  top: 400px;
  left: 70px;
  line-height: 50px;
  width: 30vw;
  font-size: 4.3rem;
  color: #e57206;
  font-weight: 700;
}
.content2b {
  position: absolute;
  top: 520px;
  left: 70px;
  width: 30vw;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  overflow: hidden;
}
.take {
  top: 660px;
  left: 70px;
}
.take:hover {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  width: 25vw;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}
.section5 {
  position: relative;
  min-height: 70vh;
  background-image: url(./Image/hero.jpg);
  background-color: #052100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
}

.content3 {
  position: absolute;
  top: 200px;
  color: white;
  left: 280px;
  width: 40vw;
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  line-height: 1.6;
  overflow: hidden;
}
.test {
  position: absolute;
  width: 10vw;
  left: 430px;
  top: 60px;
}

.section7 {
  position: relative;
  min-height: 120vh;
  background-color: #f4f4f4;
}
.head5 {
  position: absolute;
  top: 70px;
  left: 230px;
  font-size: 4.4rem;
  color: #ff7b00;
  font-weight: 700;
}
.form {
  position: absolute;
  top: 150px;
  left: 238px;
}
#fname {
  width: 25vw;
  height: 8vh;
  font-size: 1.6rem;
  margin-top: 20px;
  padding-left: 10px;
  outline: none;
}
#lname {
  width: 25vw;
  height: 8vh;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 1.6rem;
  outline: none;
}
#email {
  width: 50.5vw;
  height: 8vh;
  margin-top: 20px;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 1.6rem;
  outline: none;
}
#num {
  width: 50.5vw;
  height: 8vh;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 1.6rem;
  outline: none;
}
#message {
  width: 50.5vw;
  height: 30vh;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 1.6rem;
  outline: none;
}
.sendus {
  top: 450px;
  left: 110px;
}
.sendus:hover {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  width: 25vw;
  background-color: rgb(255, 217, 0);
  color: rgb(0, 0, 0);
}
.footer {
  position: relative;
  height: 60vh;
  background-color: #000000;
  font-size: 2.3rem;
  font-weight: 700;
}
.top {
  position: absolute;
  top: 150px;
  width: 260vw;
  left: 120px;
}
.top2 {
  position: absolute;
  top: 150px;
  font-weight: 300;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  left: 330px;
}
.top2:hover {
  color: rgb(255, 225, 0);
  font-size: 2rem;
  transition: font-size 0.8s, color 0.8s;
}

.logo2 img {
  position: absolute;
  left: 70px;
  top: 100px;
  height: 27vh;
  width: 32vh;
}
.copy {
  position: absolute;
  top: 120px;
  color: #ffffff;
  left: 520px;
  width: 40vw;
  font-size: 1.4rem;
  font-weight: 400;
}
